.right {
  .todo-form {
    width: 100%;
    padding: 1em 0 0;

    form {
      position: relative;

      input {
        width: 100%;
        padding: 0;
        border: none;
        border-bottom: 2px solid var(--gray);
        font-size: 1rem;
        line-height: 2.5rem;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: var(--spotify-green);
        transition: width 0.5s ease-in-out;
      }

      &:hover::after,
      &:focus-within::after {
        width: 100%;
      }
    }
  }

  .todo-list {
    height: 100%;
    padding-top: 1rem;
  }
}
