.right .todo-form {
  width: 100%;
  padding: 1rem 0 0;
}

.right .todo-form form {
  position: relative;
}

.right .todo-form form::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--spotify-green);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.right .todo-form form:hover::after, .right .todo-form form:focus-within::after {
  width: 100%;
}

.right .todo-form form input {
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--gray);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2em;
  background-color: transparent;
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: var(--font-size-transition);
  transition: var(--font-size-transition);
  border-radius: 0.1em;
}

.right .todo-form form input:focus {
  background-color: var(--gray);
}

.right .todo-list {
  height: 100%;
  margin-top: 1rem;
  padding: 0 0.25rem;
  overflow-y: scroll;
}

.right .todo-list::-webkit-scrollbar {
  width: 0.2rem;
}

.right .todo-list::-webkit-scrollbar-thumb {
  background-color: var(--spotify-green);
}

.right .todo-list .todo {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 0.2em;
  border-radius: 0.5em;
  -webkit-transition: background-color 0.3s ease-in-out, var(--font-size-transition), -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, var(--font-size-transition), -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, var(--font-size-transition);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, var(--font-size-transition), -webkit-box-shadow 0.3s ease-in-out;
}

.right .todo-list .todo:hover {
  background-color: var(--gray);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.right .todo-list .todo:hover > .deleteBtn {
  opacity: 0.2;
}

.right .todo-list .todo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .todo-list .todo > div > input {
  margin-top: 0.3em;
  zoom: 1.25;
  cursor: pointer;
  accent-color: var(--spotify-green);
  outline: none;
}

.right .todo-list .todo > div > input:checked + .text {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  opacity: 0.3;
}

.right .todo-list .todo > div > .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 0.15em 0.3em;
  font-weight: 500;
  word-break: break-all;
}

.right .todo-list .todo > .deleteBtn {
  color: red;
  margin-top: 0.3em;
  font-size: 0.9em;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.right .todo-list .todo > .deleteBtn:hover {
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .right .todo-form form input {
    font-size: 1rem;
  }
  .right .todo-list .todo {
    font-size: 1rem;
  }
  .right .todo-list .todo > div > input {
    zoom: 1;
  }
}

@media screen and (max-width: 1100px) {
  .right .todo-form form input {
    font-size: 1.2rem;
  }
  .right .todo-list .todo {
    font-size: 1.2rem;
  }
  .right .todo-list .todo > div > input {
    zoom: 1.25;
  }
}
/*# sourceMappingURL=todo.css.map */