@import "../mixins.scss";

.right {
  .todo-form {
    width: 100%;
    padding: 1rem 0 0;

    form {
      position: relative;
      @include inputHover(2px);

      input {
        @include input(1.2rem, 500, 2em);
        padding: 0 0.5em;
        box-sizing: border-box;
        transition: var(--font-size-transition);
        @include inputFocus();
      }
    }
  }

  .todo-list {
    height: 100%;
    margin-top: 1rem;
    padding: 0 0.25rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--spotify-green);
    }

    .todo {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      padding: 0.5em;
      margin-bottom: 0.2em;
      border-radius: 0.5em;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
        var(--font-size-transition);

      &:hover {
        background-color: var(--gray);
        box-shadow: var(--box-shadow);

        & > .deleteBtn {
          opacity: 0.2;
        }
      }

      & > div {
        display: flex;

        & > input {
          margin-top: 0.3em;
          zoom: 1.25;
          cursor: pointer;
          accent-color: var(--spotify-green);
          outline: none;

          &:checked {
            & + .text {
              text-decoration: line-through;
              text-decoration-thickness: 2px;
              opacity: 0.3;
            }
          }
        }

        & > .text {
          box-sizing: border-box;
          height: 100%;
          padding: 0.15em 0.3em;
          font-weight: 500;
          word-break: break-all;
        }
      }

      & > .deleteBtn {
        color: red;
        margin-top: 0.3em;
        font-size: 0.9em;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    .todo-form {
      form {
        input {
          font-size: 1rem;
        }
      }
    }

    .todo-list {
      .todo {
        font-size: 1rem;

        & > div {
          & > input {
            zoom: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .todo-form {
      form {
        input {
          font-size: 1.2rem;
        }
      }
    }

    .todo-list {
      .todo {
        font-size: 1.2rem;

        & > div {
          & > input {
            zoom: 1.25;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .todo-form {
      form {
        input {
          font-size: 1rem;
        }
      }
    }

    .todo-list {
      .todo {
        font-size: 1rem;

        & > div {
          & > input {
            zoom: 1;
          }
        }
      }
    }
  }
}
