.left div.current-weather {
  height: 40%;
}

.left div.current-weather .content {
  padding: 1rem 0;
}

.left div.current-weather .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 5rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--spotify-green);
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-transition: var(--font-size-transition);
  transition: var(--font-size-transition);
}

.left div.current-weather .content > div:hover {
  background-color: var(--spotify-green-dark);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.left div.current-weather .content > div > .icon i {
  font-size: 1em;
}

.left div.current-weather .content > div > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left div.current-weather .content > div > .info > span.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.25em;
  font-weight: 500;
  white-space: nowrap;
}

.left div.current-weather .content > div > .info > span.city i {
  padding-right: 0.5em;
}

.left div.current-weather .content > div > .info > span.temp {
  font-size: 0.8em;
  font-weight: 500;
}

.left div.current-weather .content > div > .info > span.status {
  font-size: 0.4em;
  font-weight: 500;
  padding: 0.4em 0;
}

@media screen and (max-width: 1400px) {
  .left div.current-weather .content > div {
    padding: 0.5rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 1000px) {
  .left div.current-weather {
    width: 49%;
    height: auto;
  }
  .left div.current-weather .content {
    padding-bottom: 0;
  }
  .left div.current-weather .content > div {
    padding: 1rem;
    font-size: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .left div.current-weather .content > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .left div.current-weather {
    width: auto;
  }
  .left div.current-weather .content {
    padding: 1rem 0;
  }
  .left div.current-weather .content > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 400px) {
  .left div.current-weather .content > div {
    font-size: 4rem;
  }
}

.left div.daily-weather {
  height: 60%;
}

.left div.daily-weather .content {
  padding: 1rem 0 0;
}

.left div.daily-weather .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-size: 2rem;
  -webkit-transition: var(--font-size-transition);
  transition: var(--font-size-transition);
}

.left div.daily-weather .content > div .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  height: 19%;
  padding: 1rem;
  background-color: var(--spotify-green);
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.left div.daily-weather .content > div .day:hover {
  background-color: var(--spotify-green-dark);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.left div.daily-weather .content > div .day > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left div.daily-weather .content > div .day > .info > .icon i {
  font-size: 1em;
  width: 1.5em;
}

.left div.daily-weather .content > div .day > .info > .dayOfWeek {
  font-size: 0.6em;
  font-weight: 500;
}

.left div.daily-weather .content > div .day > .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left div.daily-weather .content > div .day > .temp > div {
  width: 1.9em;
  font-size: 0.6em;
  text-align: center;
}

.left div.daily-weather .content > div .day > .temp > div.max {
  font-weight: 500;
}

@media screen and (max-width: 1400px) {
  .left div.daily-weather .content > div {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .left div.daily-weather {
    width: 49%;
  }
  .left div.daily-weather .content > div {
    font-size: 2rem;
  }
  .left div.daily-weather .content > div > .day:not(:last-child) {
    margin-bottom: 0.1em;
  }
}

@media screen and (max-width: 700px) {
  .left div.daily-weather .content > div {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  .left div.daily-weather {
    width: auto;
  }
  .left div.daily-weather .content > div {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .left div.daily-weather .content > div {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 350px) {
  .left div.daily-weather .content > div {
    font-size: 2rem;
  }
  .left div.daily-weather .content > div .day > .info > .icon {
    font-size: 0.8em;
  }
  .left div.daily-weather .content > div .day > .info > .dayOfWeek {
    display: none;
  }
}
/*# sourceMappingURL=weather.css.map */