@import "../mixins.scss";

.left {
  div {
    &.current-weather {
      height: 40%;

      .content {
        padding: 1rem 0;

        & > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          font-size: 5rem;
          @include weatherDiv(100%, 1rem, 2rem);

          & > .icon {
            i {
              font-size: 1em;
            }
          }

          & > .info {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > span {
              &.city {
                display: flex;
                align-items: center;
                font-size: 0.25em;
                font-weight: 500;
                white-space: nowrap;

                i {
                  padding-right: 0.5em;
                }
              }

              &.temp {
                font-size: 0.8em;
                font-weight: 500;
              }

              &.status {
                font-size: 0.4em;
                font-weight: 500;
                padding: 0.4em 0;
              }
            }
          }
        }
      }

      @media screen and (max-width: 1400px) {
        .content {
          & > div {
            padding: 0.5rem;
            font-size: 4rem;
          }
        }
      }

      @media screen and (max-width: 1100px) {
        width: 49%;
        height: auto;

        .content {
          padding-bottom: 0;

          & > div {
            padding: 1rem;
            font-size: 6rem;
          }
        }
      }

      @media screen and (max-width: 700px) {
        .content {
          & > div {
            flex-direction: column;
            font-size: 5rem;
          }
        }
      }

      @media screen and (max-width: 600px) {
        width: auto;

        .content {
          padding: 1rem 0;

          & > div {
            // font-size: 4rem;
            flex-direction: row;
          }
        }
      }

      @media screen and (max-width: 400px) {
        .content {
          & > div {
            font-size: 4rem;
          }
        }
      }
    }

    &.daily-weather {
      height: 60%;

      .content {
        padding: 1rem 0 0;

        & > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          font-size: 2rem;

          .day {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            @include weatherDiv(19%, 1rem, 1rem);

            & > .info {
              display: flex;
              align-items: center;

              & > .icon {
                i {
                  font-size: 1em;
                  width: 1.5em;
                }
              }

              & > .dayOfWeek {
                font-size: 0.6em;
                font-weight: 500;
              }
            }

            & > .temp {
              display: flex;

              & > div {
                width: 1.9em;
                font-size: 0.6em;
                text-align: center;

                &.max {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 1400px) {
        .content {
          & > div {
            font-size: 1.7rem;
          }
        }
      }

      @media screen and (max-width: 1100px) {
        width: 49%;
        .content {
          & > div {
            font-size: 2rem;

            & > .day {
              &:not(:last-child) {
                margin-bottom: 0.1em;
              }
            }
          }
        }
      }

      @media screen and (max-width: 700px) {
        .content {
          & > div {
            font-size: 1.7rem;
          }
        }
      }

      @media screen and (max-width: 600px) {
        width: auto;

        .content {
          & > div {
            font-size: 2rem;
          }
        }
      }

      @media screen and (max-width: 400px) {
        .content {
          & > div {
            font-size: 1.7rem;
          }
        }
      }

      @media screen and (max-width: 350px) {
        .content {
          & > div {
            font-size: 2rem;

            .day {
              & > .info {
                & > .icon {
                  font-size: 0.8em;
                }

                & > .dayOfWeek {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
