@import url("http://fonts.cdnfonts.com/css/gotham");

* {
  color: var(--black);
}

html,
body {
  height: 100%;
  font-family: "Gotham";
}

.root {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--gray);

  .title {
    font-weight: 500;
  }

  section {
    height: 100%;

    &.container {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      border-radius: 2rem;

      section {
        box-sizing: border-box;
        padding: 2rem;

        &.left {
          display: flex;
          flex-direction: column;
          width: 30%;
          background-color: var(--spotify-green);
          border-radius: 2rem 0 0 2rem;
          box-shadow: rgba(0, 0, 0, 0.15) 2px 0 5px;

          & > div {
            display: flex;
            flex-direction: column;

            * {
              color: #ffffff;
            }

            .title {
              color: inherit;
              h1 {
                font-size: 1.5rem;
              }
            }

            .content {
              height: 100%;
              color: inherit;
              box-sizing: border-box;
            }
          }
        }

        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 40%;
        }

        &.right {
          display: flex;
          flex-direction: column;
          width: 30%;

          .title {
            h1 {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
