@import url("http://fonts.cdnfonts.com/css/gotham");

* {
  color: var(--black);
}

html,
body {
  height: 100%;
  min-height: 700px;
  min-width: 350px;
  background-color: var(--gray);
  font-family: "Gotham", "Noto Sans KR";
}

.root {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    transition: var(--font-size-transition);
  }

  & > section {
    height: 100%;

    &.container {
      display: flex;
      background-color: #ffffff;
      border-radius: 2rem;

      section {
        box-sizing: border-box;
        padding: 2rem;

        &.left {
          display: flex;
          flex-direction: column;
          width: 30%;
          background-color: var(--spotify-green);
          border-radius: 2rem 0 0 2rem;
          box-shadow: rgba(0, 0, 0, 0.15) 2px 0 5px;

          & > div {
            display: flex;
            flex-direction: column;

            * {
              color: #ffffff;
            }

            .title {
              color: inherit;
            }

            .content {
              height: 100%;
              color: inherit;
              box-sizing: border-box;
            }
          }
        }

        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 40%;
        }

        &.right {
          display: flex;
          flex-direction: column;
          width: 30%;
          background-color: var(--light-gray);
          border-radius: 0 2rem 2rem 0;
          box-shadow: rgba(0, 0, 0, 0.1) -2px 0 5px;
        }
      }
    }
  }

  @media screen and(max-width: 1400px) {
    .title {
      font-size: 1.3rem;
    }
  }

  @media screen and(max-width: 1100px) {
    height: fit-content;

    .title {
      font-size: 1.5rem;
    }

    section {
      height: fit-content;
      &.container {
        flex-direction: column;

        section {
          &.center {
            flex-direction: column;
            width: auto;
            order: 0;
          }

          &.left {
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            border-radius: 0;
            order: 1;
          }

          &.right {
            width: auto;
            max-height: 400px;
            border-radius: 0 0 2rem 2rem;
            order: 2;
          }
        }
      }
    }
  }

  @media screen and(max-width: 700px) {
    .title {
      font-size: 1.3rem;
    }
  }

  @media screen and(max-width: 600px) {
    .title {
      font-size: 1.5rem;
    }

    section {
      &.container {
        section {
          &.left {
            flex-direction: column;
          }
        }
      }
    }
  }

  @media screen and(max-width: 500px) {
    section {
      &.container {
        section {
          &.center {
            padding: 1rem;
          }
        }
      }
    }
  }

  @media screen and(max-width: 400px) {
    .title {
      font-size: 1.3rem;
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .root {
//
//   }
// }
