:root {
  --gray: #e6ebed;
  --light-gray: #fafbfd;
  --dark-gray: #a6abad;
  --black: #191414;
  --spotify-green: #1ed760;
  --spotify-green-dark: #1db954;

  --todo-font-size: 1.2rem;

  --input-border-bottom: 2px solid var(--dark-gray);
  --box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}
