.center .greeting {
  position: absolute;
  top: 2rem;
  max-width: 85%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.center .greeting form {
  position: relative;
  width: 100%;
}

.center .greeting form::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--spotify-green);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.center .greeting form:hover::after, .center .greeting form:focus-within::after {
  width: 100%;
}

.center .greeting form input {
  text-align: center;
  -webkit-transition: var(--font-size-transition);
  transition: var(--font-size-transition);
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--gray);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
  background-color: transparent;
  border-radius: 0.1em;
}

.center .greeting form input:focus {
  background-color: var(--gray);
}

.center .greeting > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 500;
  -webkit-transition: var(--font-size-transition);
  transition: var(--font-size-transition);
}

.center .greeting > div > span {
  padding-bottom: 0.1em;
  line-height: 1.2em;
  white-space: nowrap;
}

.center .greeting > div > span.input {
  position: relative;
  margin-left: 0.3em;
  outline: none;
  overflow-x: hidden;
  border-radius: 0.1em;
}

.center .greeting > div > span.input::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: var(--spotify-green);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.center .greeting > div > span.input:hover::after, .center .greeting > div > span.input:focus-within::after {
  width: 100%;
}

.center .greeting > div > span.input:focus {
  background-color: var(--gray);
}

.center .greeting > div > span.period {
  padding-right: 0.3em;
}

.center .greeting > div:hover ~ i {
  display: block;
}

.center .greeting > i {
  display: none;
  position: absolute;
  top: 50%;
  right: -1em;
  font-size: 1rem;
  color: var(--spotify-green);
  opacity: 0.2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.center .greeting > i:hover {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .center .greeting > div {
    font-size: 1.4rem;
  }
  .center .greeting form input {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1100px) {
  .center .greeting {
    position: relative;
    top: 0;
  }
  .center .greeting > div {
    font-size: 2rem;
  }
  .center .greeting form input {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .center .greeting > div {
    font-size: 1.4rem;
  }
  .center .greeting form input {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .center .greeting > div {
    font-size: 1.2rem;
  }
  .center .greeting form input {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=greeting.css.map */