@import "../mixins.scss";

.center {
  .greeting {
    position: absolute;
    top: 2rem;
    text-align: center;
    user-select: none;

    form {
      position: relative;
      width: 100%;
      @include inputHover(2px);

      input {
        @include input(1.5rem, 500, 1.5em);
        text-align: center;
        @include inputFocus();
      }
    }

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;

      & > span {
        padding-bottom: 0.1em;
        line-height: 1.2em;
        white-space: nowrap;

        &.input {
          position: relative;
          margin-left: 0.3em;
          outline: none;
          @include inputHover(3px);
          @include inputFocus();
        }

        &.period {
          padding-right: 0.3em;
        }
      }

      &:hover ~ i {
        display: block;
      }
    }

    & > i {
      display: none;
      position: absolute;
      top: 50%;
      right: -1em;
      font-size: 1rem;
      color: var(--spotify-green);
      opacity: 0.2;
      transform: translateY(-50%);
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        display: block;
        opacity: 1;
      }
    }
  }
}
