@import "../mixins.scss";

.center {
  .greeting {
    position: absolute;
    top: 2rem;
    text-align: center;

    form {
      position: relative;
      width: 100%;
      @include inputHover(2px);

      input {
        @include input(1.5rem, 500, 1.2em);
        text-align: center;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;

      & > span {
        padding-bottom: 0.1em;
        line-height: 1.2em;
        white-space: nowrap;

        &.input {
          position: relative;
          margin-left: 0.3em;
          outline: none;
          border-radius: 0.1em;
          @include inputHover(3px);

          &:focus {
            background-color: var(--gray);
          }
        }

        &.period {
          padding-right: 0.3em;
        }
      }

      &:hover i {
        display: inline-block;
      }

      & > i {
        display: none;
        font-size: 1rem;
        color: var(--spotify-green);
        opacity: 0.2;
        transition: opacity 0.3s ease-in-out;
        text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
