section.center {
  .clock {
    display: flex;
    align-items: center;
    font-size: 9rem;

    .AM_PM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        color: var(--gray);
        font-size: 0.2em;

        &.active {
          color: var(--spotify-green);
          font-weight: 500;
        }
      }
    }

    .time {
      font-weight: 500;
      padding-left: 0.05em;
    }
  }
}
